.banner {
    padding: 10px;
    background-color: #ccc;
}
.nav {
    padding: 15px 0;
    background-color: green;
    color: #fff;
    text-align: left;
    .nav-item {
      padding-right: 40px;
      line-height: 27px;
    }
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.search-box {
  float: right;
  height: 27px;
  input {
    float: left;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
    padding: 0 5px;
  }
  button {
    float: left;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 0 6px 6px 0;
    padding: 0 10px;
    background-color: #ccc;
  }
}