.movie-detail {
    text-align: left;
    margin-top: 30px;   
    .info-box {
        .title {
            font-size: 26px;
            margin-bottom: 20px;
            span {
                color: #ccc;
            }
        }
        .img-box {
            display: inline-block;
            width: 15%;
            vertical-align: top;
            img {
                width: 100%;
            }
        }
        .info {
            display: inline-block;
            width: 70%;
            padding-left: 20px;
            p {
                margin-bottom: 10px;
            }
        }
    }
    .summary-box {
        margin-top: 20px;
        letter-spacing: 1px;
        line-height: 20px;
        p {
            padding: 10px 0;
            font-size: 22px;
        }
    }
    .cast-box {
        margin-top: 20px;
        > p {
            padding: 10px 0;
            font-size: 22px;
            letter-spacing: 1px;
        }
        li {
            float: left;
            width: 95px;
            font-size: 13px;
            color: #111;
            margin-right: 15px;
            img {
                width: 100%;
                height: 133px;
            }
            p {
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

@media (max-width: 768px) { 
  .movie-detail {
    padding: 0 0.2rem;
    .info-box {
      .title {
        font-size: 0.52rem;
      }
      .img-box {
        width: 25%;
      }
    }
    .summary-box p {
      padding: 0.3rem 0;
      font-size: 0.44rem;
    }
    .cast-box {
      > p {
        padding: 0.3rem 0;
        font-size: 0.44rem;
      }
      li {
        width: 1.5rem;
        margin-right: 0.26rem;
        margin-bottom: 0.3rem;
        img {
          height: 2.1rem;
        }
      }
    }  
  }
}